{# empty Twig template #}

<div id="cmis-browser-wrapper">
    <div id="cmis-content-property-wrapper"></div>

    <div class="browser-breadcrumbs">
        {{ breadcrumbs }}
    </div>

    <div class="browser-table">
        {{ table }}
    </div>

</div>